html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: #000;
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #000000;
  top: 0;
  left: 0;
}

.g1, .g2, .g3, .g4, .g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(57, 255, 20, 0.3) 0, rgba(0, 0, 0, 0) 50%) no-repeat;
  mix-blend-mode: screen;
  width: 80%;
  height: 80%;
  top: calc(50% - 40%);
  left: calc(50% - 40%);
  transform-origin: center center;
  opacity: 0.6;
  filter: blur(80px);
}

.g1 {
  background: radial-gradient(circle at center, rgba(57, 255, 20, 0.3) 0, rgba(0, 0, 0, 0) 50%) no-repeat;
  animation: moveVertical 45s ease infinite;
}

.g2 {
  background: radial-gradient(circle at center, rgba(0, 143, 17, 0.3) 0, rgba(0, 0, 0, 0) 50%) no-repeat;
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 30s reverse infinite;
}

.g3 {
  background: radial-gradient(circle at center, rgba(57, 255, 20, 0.2) 0, rgba(0, 0, 0, 0) 50%) no-repeat;
  position: absolute;
  top: calc(50% - 40% + 200px);
  left: calc(50% - 40% - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 60s linear infinite;
}

.g4 {
  background: radial-gradient(circle at center, rgba(0, 255, 0, 0.2) 0, rgba(0, 0, 0, 0) 50%) no-repeat;
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 60s ease infinite;
  opacity: 0.4;
}

.g5 {
  background: radial-gradient(circle at center, rgba(57, 255, 20, 0.2) 0, rgba(0, 0, 0, 0) 50%) no-repeat;
  width: 100%;
  height: 100%;
  top: calc(50% - 50%);
  left: calc(50% - 50%);
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 30s ease infinite;
}



@keyframes moveInCircle {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

@keyframes moveVertical {
  0% { transform: translateY(-50%); }
  50% { transform: translateY(50%); }
  100% { transform: translateY(-50%); }
}

@keyframes moveHorizontal {
  0% { transform: translateX(-50%) translateY(-10%); }
  50% { transform: translateX(50%) translateY(10%); }
  100% { transform: translateX(-50%) translateY(-10%); }
}
