:root {
  font-family: 'Special Elite', system-ui, cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #39FF14;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

